@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(
    180deg,
    rgb(239, 135, 130),
    rgb(183, 127, 124)
  );
  backdrop-filter: blur(200px);
  filter: blur();
}
.main-background {
  padding-left: 80px;
  padding-right: 80px;
}

h1 {
  color: #660000;
}
h4 {
  font-size: 30px;
}

.pig-photo {
  max-width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.player {
  /* background-image: linear-gradient(
    180deg,
    rgb(217, 134, 15),
    rgb(225, 99, 66)
  ); */
  background-color: #efbbc4;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 40px;
  backdrop-filter: blur(200px);
  filter: blur();
  color: #33001a;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.player p {
  font-size: 50px;
  padding-bottom: 130px;
  color: #fff;
}
.player--1 {
  float: left;
}
.player--2 {
  float: right;
}
.current {
  background-color: #ff9999;

  padding: 30px;
  border-radius: 20px;
  width: 300px;
  margin-left: 60px;
}
.player--active {
  background-color: #ffe6e6;
}
.player--active p {
  color: #990000;
}
.player--active .current {
  background-color: #ffcccc;
}
/* .score {
  font-size: 45px;
  margin-bottom: 130px;
} */
.btn {
  border-radius: 5px;
  padding: 6px 20px;
  /* background-image: linear-gradient(
        56deg,
        rgba(43, 46, 224, 0.15) 0%,
        rgba(26, 218, 182, 0.15) 100%
      ),
      linear-gradient(336deg, rgb(50, 52, 221), rgb(60, 239, 241)); */
  background-color: #1aa3ff;
  font-family: "Nunito", sans-serif;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  backdrop-filter: blur(10px);
  border-style: none;
}
.btn:hover {
  background-color: #006bb3;
}
.btn-special {
  border-style: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #c45858;
  color: white;
}
.btn-special:hover {
  background-color: #942c2c;
}

/* Absolute position (buttons */
.btn-new-css {
  position: absolute;
  left: 645px;
}
.btn-roll-css {
  position: absolute;
  left: 645px;
  top: 470px;
}
.btn-hold-css {
  position: absolute;
  left: 665px;
  top: 540px;
}
.btn-instr-css {
  position: absolute;
  right: 50px;
  top: 30px;
}
.dice-number {
  max-width: 150px;
  position: absolute;
  left: 645px;
  top: 270px;
}

.reload-img {
  max-width: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0px;
}
.dice-img {
  max-width: 23px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0px;
}
.hold-img {
  max-width: 23px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0px;
}

/* MODAL CLASSES */
.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  position: absolute;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}
.modal {
  z-index: 2;
  position: absolute;
  left: 350px;
  top: 110px;
  width: 700px;
  height: 450px;
  display: none;
  background-color: white;
  padding: 40px 60px;
  border-radius: 5px;
  text-align: left;
}
.modal h1 {
  margin-bottom: 30px;
  text-align: center;
}
.close-modal {
  border: none;
  background: none;
  color: #ffb3b3;
  font-size: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
}
.close-modal:hover {
  color: #33001a;
}
.special {
  width: 30px;
}

/* Hidden class for the game and winner player class */
.player--winner {
  background-color: #1aa3ff;
}
.player--winner h1 {
  color: white;
}
.player--winner .current {
  background-color: #cae5f7;
}
.hidden {
  display: none;
}
